.glassy-navbar {
  background-color: rgba(127 140 99 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgb(127 140 99 0.7);
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.fixed_background {
  background-image: url("hero1.jpg");
  height: 850px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.dropdown-menu{
background: rgba(255, 255, 255, 0.4);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.dropdown-item:hover{
background: rgba(255, 255, 255, 0.1);
}
.section-title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}


